/* 
.widget{
    width: 40%;
    height: 60vh;
    background-color:rgb(60, 138, 60);
    border-radius: 1.5rem;
    padding: 0.5rem;
}
.chat-header{
    background-color: rgb(20, 18, 18);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1.5rem;
}
.logo .bi-robot{
    color: white;
    font-size: 4rem;
}

.TapShop-logo img{
    width: 12rem;
} */


/* body{
      font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */
